{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>post_detail</title>
     <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div id="navbar">
        <span>pylog</span>
    </div>
    <div id="post-detail">
        <h1>{{ post.title }}</h1>
        {% if post.thumbnail %}
        <img src="{{ post.thumbnail.url }}" alt="">
        {% endif %}
        {% if post.comment_set.count > 0 %}
            <h3>댓글 목록</h3>
            <ul>
            {% for comment in post.comment_set.all %}
            	<li>
                {{ comment.content }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    <form method="post">
            {% csrf_token %}
            <textarea name="comment"></textarea>
            <button type="submit" class="btn btn-primary">댓글 작성</button>
        </form>
    </div>
</body>
</html>